$colorText0: #231f20;
$colorText1: #97222e;
$colorBg0  : #e5e5e5;

// general style for fonts
:root {
  font-size: 16px;
}

* {
  margin          : 0;
  padding         : 0;
  list-style      : none;
  background-color: $colorBg0;
  background      : transparent;
  font-family     : "Oswald", sans-serif;
  scroll-behavior : smooth;
}

body {
  position: relative;
  height  : 100%;
}

//header

header {
  display : block;
  position: relative;
  z-index : 1;

  //background styles
  #bg {
    object-fit: cover;
    width     : 100%;
    height    : 100%;
    min-height: 100vh;
    overflow  : hidden;

    position: absolute;
    top     : 0;
    left    : 0;
    bottom  : 0;
    z-index : 0;
  }
}

//navigation styles
nav {
  color      : $colorText0;
  font-size  : 1.5em;
  font-weight: 400;
  z-index    : 10;

  ul {
    li {
      margin: 0 10px;

      a {
        color: $colorText0;

        &:hover {
          text-decoration: none;
          color          : $colorText1;
        }
      }
    }
  }
}

#lang__socials {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

  #lang {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-right  : 40px;

    #ua {
      color : $colorText1;
      margin: 0 10px;
    }

    #ru {
      color: #c9c8c8;
    }
  }

  .socials {
    display        : flex;
    justify-content: space-between;
    margin         : 10px;
  }

  a {
    text-decoration: none;
  }
}

// header styles
.hero {
  display        : flex;
  justify-content: space-between;
  min-height     : 100vh;
  position       : relative;
  z-index        : 1;
  padding        : 50px 0;

  .text {
    margin-top  : 10vw;
    padding-left: 50px;

    h1 {
      font-size  : 3em;
      font-weight: 400;
      color      : $colorText0;
    }

    button {
      width        : 240px;
      height       : 60px;
      border       : none;
      background   : $colorText1;
      border-radius: 5px;
      color        : $colorBg0;
      font-weight  : lighter;
      font-size    : 1.5em;
      margin-top   : 42px;
      cursor       : pointer;

      a {
        text-decoration: none;
        color          : $colorBg0;
      }
    }
  }

  .comode img {
    width: 100%;
  }
}

//styles for slider in slider.scss

//form for contact form

#contact-us {
  position        : relative;
  z-index         : 0;
  padding         : 0px auto;
  background-color: #f3f3f3;

  form {
    text-align: center;
    border    : none;
    box-shadow: 0px 0px 10px 0px #888888;
    box-sizing: border-box;
    color     : $colorText0;
    display   : block;
    height    : 100%;
    margin    : 70px auto;
    padding   : 15px 20px;
    position  : relative;
    width     : 40%;
    z-index   : 2;

    h3 {
      font-size  : 1.5em;
      font-weight: 500;
      color      : $colorText1;
    }

    input {
      text-align      : left;
      background-color: transparent;
      border-radius   : 2px;
      border          : 1px solid $colorText0;
      box-sizing      : border-box;
      color           : $colorText0;
      display         : block;
      font-size       : 1.5em;
      font-weight     : 300;
      height          : 65px;
      margin          : 20px auto;
      padding-left    : 17px;
      position        : relative;
      width           : 100%;

      [placeholder] {
        color: #828282;
      }
    }

    button {
      background-color: #231F20;
      color           : $colorBg0;
      font-size       : 1.5em;
      padding         : 5px 49px;
      border          : none;
      border-radius   : 5px;
    }
  }
}

//gallery
#gallery {
  background-color: #f3f3f3;
}


#imgs {
  background-color    : #f3f3f3;
  -webkit-column-count: 3;
  -moz-column-count   : 3;
  column-count        : 3;
  -webkit-column-gap  : 0;
  -moz-column-gap     : 0;
  column-gap          : 0;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width   : 33.33333333333333%;
  column-width        : 33.33333333333333%;
}

.toolbar {
  align-content: center;
  padding      : 0 auto;
}

.tile {
  transition     : all 350ms ease;
  border-collapse: collapse;
  margin         : 0;
  padding        : 0;

  img {
    width : 100%;
    height: 100%;
  }
}

.scale-anm {
  transform: scale(1);
}

.btn {
  font-size         : 1.5em;
  font-weight       : normal;
  text-decoration   : none;
  cursor            : pointer;
  display           : inline-block;
  line-height       : normal;
  padding           : .5rem 1rem;
  margin            : 0 1.5rem;
  height            : auto;
  border            : none;
  border-bottom     : 2px solid transparent;
  border-radius     : 0;
  vertical-align    : middle;
  -webkit-appearance: none;
  color             : $colorText0;
  background-color  : rgba(0, 0, 0, 0);

  &:hover {
    text-decoration: none;
    border-bottom  : 2px solid $colorText1;
    color          : $colorText1;
  }
}

.toolbar {
  text-align: center;
  padding   : 10px 0;

  .btn {
    &:focus {
      outline: none;
    }
  }

  &::-moz-focus-inner {
    border : 0;
    padding: 0;
  }
}

//footer

footer {
  position        : relative;
  background-color: #e5e5e5;
}

#service {
  margin-top      : 10%;
  position        : relative;
  z-index         : 1;
  height          : auto;
  line-height     : 35px;
  padding         : 25px;
  text-align      : center;
  border          : none;
  background-color: #e5e5e5;
  box-shadow      : 0px 0px 5px 1px #888888;

  #delivery,
  #payment {

    h3 {
      text-align : center;
      font-size  : 1.875em;
      font-weight: 400;
    }

    p {
      text-align : left;
      font-size  : 1.5em;
      font-weight: 300;
    }
  }
}

#footer_bg {
  object-fit: cover;
  width     : 100%;
  height    : 100%;
  min-height: 100vh;
  overflow  : hidden;

  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 0;
}

#contacts {
  margin-top     : 5%;
  position       : relative;
  z-index        : 1;
  color          : $colorBg0;
  display        : flex;
  justify-content: space-between;
  text-align     : center;

  div {
    width: 33.3%;
  }

  p {
    font-size  : 1.875em;
    font-weight: 300;
  }

  #socials__footer {
    img {
      margin: 0 15px;
    }
  }
}

// mediaqueries for layout adapting in mediaqueries.scss