$colorText0: #231f20;
$colorText1: #97222e;
$colorBg0  : #e5e5e5;

* {
  margin          : 0;
  padding         : 0;
  list-style      : none;
  background-color: $colorBg0;
  background      : transparent;
  font-family     : "Oswald", sans-serif;
}

body {
  position: relative;
  height  : 100%;
}

header {
  display: block;

  #bg {
    object-fit: cover;
    width     : 100%;
    height    : auto;
    min-height: 100vh;
    overflow  : hidden;

    position: absolute;
    top     : 0;
    left    : 0;

    z-index: -1;
  }
}

nav {
  display        : flex;
  justify-content: space-between;
  color          : $colorText0;
  font-size      : 24px;
  font-weight    : 400;
  position       : relative;
  z-index        : 10;
  margin         : 0 50px;

  ul {
    list-style: none;
    display   : flex;
    margin    : 20px auto;
    right     : 0px;
    top       : 0px;

    li {
      margin: 0 10px;

      a {
        text-decoration: none;
        color          : $colorText0;

        &:hover {
          color: $colorText1;
        }
      }
    }
  }
}

.lang__socials {
  display        : flex;
  justify-content: space-between;

  .lang {
    margin      : auto;
    margin-right: 60px;
  }

  .socials {
    display        : flex;
    justify-content: space-between;
    margin         : auto 10px;

  }

  a {
    text-decoration: none;
  }
}

.hero {
  display        : flex;
  justify-content: space-between;
  width          : 100%;
  min-height     : 100vh;
  overflow       : hidden;
  position       : relative;
  z-index        : 1;

  .text {
    position : relative;
    top      : 30%;
    left     : 5%;
    transform: translate(-5%, 35%);

    width: 460px;

    h1 {
      font-size  : 48px;
      font-weight: 400;
      /* main */
      color      : $colorText0;
    }

    button {
      width : 240px;
      height: 60px;
      border: none;

      background   : $colorText1;
      border-radius: 5px;

      display        : flex;
      align-items    : center;
      justify-content: center;

      color: $colorBg0;

      font-weight: lighter;
      font-size  : 24px;

      margin-top: 42px;

      cursor: pointer;
    }
  }

  .comode {
    width      : 60vw;
    position   : absolute;
    top        : 5%;
    right      : 5%;
    //transform: translate(0%, -15%);
  }
}

.slider {
  position: relative;
  width   : 100%;
  height  : 400px;

  overflow: hidden;

  .prevArrow,
  .nextArrow {
    width : 40px;
    height: 40px;

    background: black;

    position: absolute;
    top     : 50%;

    transform: translate(-50%, 0);
  }

  .prevArrow {
    left: 20px;
  }

  .nextArrow {
    right: 20px;
  }


  .content {
    width : max-content;
    height: 200px;
    width : max-content;

    display        : flex;
    align-items    : center;
    justify-content: center;

    .slide {
      width : 200px;
      height: 200px;
      margin: 200px;
    }
  }
}


#contact-us {
  display         : block;
  position        : relative;
  background-color: #f3f3f3;
  margin          : 50px auto;

  form {
    text-align: center;
    border    : none;
    box-shadow: 0px 0px 10px 0px #888888;
    box-sizing: border-box;
    color     : $colorText0;
    display   : block;
    height    : 100%;
    margin    : 40px auto;
    padding   : 15px 20px;
    position  : relative;
    width     : 40%;
    z-index   : 2;

    h3 {
      font-size  : 24px;
      font-weight: 500;
      color      : $colorText1;
    }

    input {
      text-align      : left;
      background-color: transparent;
      border-radius   : 2px;
      border          : 1px solid $colorText0;
      box-sizing      : border-box;
      color           : $colorText0;
      display         : block;
      font-size       : 24px;
      font-weight     : 300;
      height          : 65px;
      margin          : 20px auto;
      padding-left    : 17px;
      position        : relative;
      width           : 100%;

      [placeholder] {
        color: #828282;
      }
    }

    button {
      background-color: #231F20;
      color           : $colorBg0;
      font-size       : 24px;
      padding         : 5px 49px;
      border          : none;
      border-radius   : 5px;

    }
  }
}

