$colorText0: #231f20;
$colorText1: #97222e;
$colorBg0  : #e5e5e5;

// general style for fonts
:root {
  --ratio  : 1.2;
  --ms0    : 1;
  --ms1    : var(--ratio);
  /* 1.2   */
  --ms2    : calc(var(--ratio) * var(--ms1));
  /* 1.44  */
  font-size: 16px;
}

* {
  margin          : 0;
  padding         : 0;
  list-style      : none;
  background-color: $colorBg0;
  background      : transparent;
  font-family     : "Oswald", sans-serif;
  scroll-behavior : smooth;
}

body {
  position: relative;
  height  : 100%;
}

//header

header {
  display : block;
  position: relative;
  z-index : 1;

  //background styles
  #bg {
    object-fit: cover;
    width     : 100%;
    height    : 100%;
    min-height: 100vh;
    overflow  : hidden;

    position: absolute;
    top     : 0;
    left    : 0;
    bottom  : 0;
    z-index : 0;
  }
}

//navigation styles
nav {
  color      : $colorText0;
  font-size  : 1.5em;
  font-weight: 400;
  z-index    : 10;

  ul {
    transition: 0.5s;

    li {
      margin: 0 10px;

      a {
        color: $colorText0;

        &:hover {
          text-decoration: none;
          color          : $colorText1;
        }
      }
    }
  }
}

#lang__socials {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

  #lang {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-right  : 40px;

    .active {
      color: #97222e;
    }

    a {
      color : #c9c8c8;
      margin: 0 10px;

      &:hover {
        color: #97222e;
      }
    }
  }


  .socials {
    display        : flex;
    justify-content: space-between;
    margin         : 10px;
  }

  a {
    text-decoration: none;
  }
}

// header styles
.hero {
  display        : flex;
  justify-content: space-between;
  min-height     : 80vh;
  position       : relative;
  z-index        : 1;
  padding        : 50px 0;

  .text {
    margin-top  : 10vw;
    padding-left: 50px;
    max-width   : 400px;

    h1 {
      font-size  : 3em;
      font-weight: 400;
      color      : $colorText0;
    }

    button {
      width        : 240px;
      height       : 60px;
      border       : none;
      background   : $colorText1;
      border-radius: 5px;
      color        : $colorBg0;
      font-weight  : lighter;
      font-size    : 1.5em;
      margin-top   : 42px;
      cursor       : pointer;

      a {
        text-decoration: none;
        color          : $colorBg0;
      }
    }
  }

  .comode img {
    width: 100%;
  }
}

//styles for slider in slider.scss

//form for contact form

#contact-us {
  position        : relative;
  z-index         : 0;
  padding         : 0px auto;
  background-color: #e5e5e5 !important;

  form {
    height    : 40vh !important;
    text-align: center;
    border    : none;
    box-shadow: 0px 0px 10px 0px #888888;
    box-sizing: border-box;
    color     : $colorText0;
    display   : block;
    margin    : 70px auto;
    padding   : 15px 20px;
    position  : relative;
    width     : 40%;
    z-index   : 2;

    h3 {
      font-size  : 1.5em;
      font-weight: 500;
      color      : $colorText1;
    }

    input {
      text-align      : left;
      background-color: transparent;
      border-radius   : 2px;
      border          : 1px solid $colorText0;
      box-sizing      : border-box;
      color           : $colorText0;
      display         : block;
      font-size       : 1.5em;
      font-weight     : 300;
      height          : 65px;
      padding-left    : 17px;
      width           : 100%;

      [placeholder] {
        color: #828282;
      }
    }

    button {
      background-color: #231F20;
      color           : $colorBg0;
      font-size       : 1.5em;
      padding         : 7px 18px;
      border          : none;
      border-radius   : 5px;
      width           : 38.5%;
      align-self      : center;
    }
  }
}

#gallery {
  background-color: #f3f3f3;
}


#imgs {
  background-color     : #f3f3f3;
  display              : grid;
  grid-template-columns: repeat(3, 33.33333333%);
}

.tile {
  transition     : all 350ms ease;
  border-collapse: collapse;
  margin         : 0;
  padding        : 0;

  img {
    width : 100%;
    height: 100%;
  }
}

.scale-anm {
  transform: scale(1);
}

.toolbar {
  text-align: center;
  padding   : 10px 0;

  &::-moz-focus-inner {
    border : 0;
    padding: 0;
  }

  &__btn {
    font-size         : 1.5em;
    font-weight       : normal;
    text-decoration   : none;
    cursor            : pointer;
    display           : inline-block;
    line-height       : normal;
    padding           : .5rem 1rem;
    margin            : 0 1.5rem;
    height            : auto;
    border            : none;
    border-bottom     : 2px solid transparent;
    border-radius     : 0;
    vertical-align    : middle;
    -webkit-appearance: none;
    color             : $colorText0;
    background-color  : rgba(0, 0, 0, 0);
    &.active {
      text-decoration: none;
      border-bottom  : 2px solid $colorText1;
      color          : $colorText1;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: none;
      border-bottom  : 2px solid $colorText1;
      color          : $colorText1;
    }
  }
}

//footer

footer {
  position        : relative;
  background-color: #e5e5e5;
}

#service {
  margin-top      : 10%;
  position        : relative;
  z-index         : 1;
  height          : auto;
  line-height     : 35px;
  padding         : 25px;
  text-align      : center;
  border          : none;
  background-color: #e5e5e5;
  box-shadow      : 0px 0px 5px 1px #888888;

  #delivery,
  #payment {

    h3 {
      text-align : center;
      font-size  : 1.875em;
      font-weight: 400;
    }

    p {
      text-align : left;
      font-size  : 1.5em;
      font-weight: 300;
    }
  }
}

#footer_bg {
  object-fit: cover;
  width     : 100%;
  height    : 100%;
  min-height: 100vh;
  overflow  : hidden;

  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 0;
}

#contacts {
  margin    : 5% auto;
  position  : relative;
  z-index   : 1;
  color     : $colorBg0;
  text-align: center;

  p {
    font-size  : 1.875em;
    font-weight: 300;
  }
}

// mediaqueries for layout adapting in mediaqueries.scss