@media screen and (max-width: 1040px) {

  nav {
    ul li {
      margin: 0 5px;
    }
  }

  #lang__socials {
    #lang {
      margin-right: 20px;
    }
  }
}

// Bootstrap breakpoint for tablets in album orientation
@media screen and (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      margin-left     : 2vw;
      // min-width    : 400px;
      // padding-left : 15px;
      // padding-right: 15px;
    }
  }

  .slider__indicators {
    display: none;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    height : 40vh !important;
    padding: 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    &__text p {
      font-size: 2.5em !important;
    }

    &__btn {
      width    : auto;
      min-width: 50%;
      font-size: 1.5em;
    }
  }

  #info {
    top : 25%;
    left: calc(50vw - 132px);
  }

  #footer_bg {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  #scroller {
    display: none !important;
  }
  .navbar-nav {
    align-items: center;
  }

  .md-display-none {
    display: none !important;
  }

  .gallerySlider .content .slide {
    display              : grid;
    grid-template-columns: repeat(2, 50vw) !important;
  }
}

// Bootstrap breakpoint for tablets in portrait orientation and fablets in album orientation
@media screen and (min-width: 768px) {

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      padding-left : 15px;
      padding-right: 15px;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__indicators {
    display: none;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    height : 40vh !important;
    padding: 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

// Bootstrap breakpoint for fablets in portrait orientation
@media screen and (min-width: 576px) {

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      // margin       : 3vh auto 0;
      padding-left    : 15px;
      padding-right   : 15px;
      // text-align   : center;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__indicators {
    display: none;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    height : 40vh !important;
    padding: 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

// Bootstrap breakpoint for fablets in portrait orientation
@media screen and (max-width: 599px) {
  .scrollToTop {
    display: none;
  }

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      margin-top   : 0;
      padding-left : 15px;
      padding-right: 15px;
      text-align   : center;
    }

    p {
      font-size: 2em;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__control,
  .slider__indicators {
    display: none;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    height : 40vh !important;
    padding: 15px;

    input {
      width: 100%;
    }

    button {
      width  : 100%;
      padding: 7px auto;
    }
  }

  #service {
    margin-top  : 0;
    // #delivery {
    //   padding: 0;
    // }
  }

  #contacts {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 75%;
  }

  

  .sm-display-none {
    display: none !important;
  }

  .slide {
    display: block;

    &__row {
      width : 100%;
      height: 100%;
    }
  }

  .gallerySlider .content .slide {
    display              : grid;
    grid-template-columns: 100vw !important;
  }
}