@media screen and (max-width: 1040px) {
  nav ul li {
    margin: 0 5px;
  }
}

// Bootstrap breakpoint for tablets in album orientation
@media screen and (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      margin-left     : 2vw;
    }
  }

  .slider__indicators {
    display: none;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    padding: 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    background-color: #e5e5e5;
    opacity         : 0.2;
    border-radius   : 5px;
  }

  .hero {
    &__text p {
      font-size: 2.5em !important;
    }

    &__btn {
      width    : auto !important;
      min-width: 75%;
      font-size: 1.5em !important;
    }
  }

  #info {
    top : 25%;
    left: calc(50vw - 132px);
  }

  #footer_bg {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    background-color: transparent;
  }

  #scroller {
    display: none !important;
  }

  .navbar-nav {
    align-items: center;
  }

  .hero {
    &__text {
      margin: 3rem 0;
    }

    h1 {
      font-size: 2rem;
    }

    &__btn {
      width: 50%;
    }
  }

  .img-fluid {
    margin-bottom: 3rem;
  }

  .md-display-none {
    display: none !important;
  }

  .gallerySlider .content .slide {
    display              : grid;
    grid-template-columns: repeat(2, 50vw) !important;
  }
}

// Bootstrap breakpoint for tablets in portrait orientation and fablets in album orientation
@media screen and (min-width: 768px) {

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      padding-left : 15px;
      padding-right: 15px;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin    : 30px 0;
    padding   : 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

// Bootstrap breakpoint for fablets in portrait orientation
@media screen and (min-width: 576px) {

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      padding-left    : 15px;
      padding-right   : 15px;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin    : 30px 0;
    padding   : 15px 20px;

    input {
      width: 100%;
    }

    button {
      width  : 50%;
      padding: 7px 20px;
    }
  }

  #contacts {
    flex-direction: column !important;
  }

  .socials__footer {
    display       : flex;
    flex-direction: row;
  }
}

// Bootstrap breakpoint for fablets in portrait orientation
@media screen and (max-width: 599px) {
  .scrollToTop {
    display: none;
  }

  #lang__socials {
    #lang {
      margin: 0 auto;
    }

    .socials {
      display: none;
    }
  }

  .hero {
    .text {
      margin-top   : 0;
      padding-left : 15px;
      padding-right: 15px;
      text-align   : center;
    }

    p {
      font-size: 2em;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .slider__item {
    img {
      width : auto;
      height: 100%;
    }
  }

  #contact-us form {
    margin : 30px 0;
    padding: 15px;

    input {
      width: 100%;
    }

    button {
      width  : 100% !important;
      padding: 7px auto !important;
    }
  }

  #service {
    margin-top  : 0;
    // #delivery {
    //   padding: 0;
    // }
  }

  #contacts {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 75%;
  }

  .sm-display-none {
    display: none !important;
  }

  .slide {
    display: block;

    &__row {
      width : 100%;
      height: 100%;
    }
  }

  .gallerySlider .content .slide {
    display              : grid;
    grid-template-columns: 100vw !important;
  }
}

@media screen and (max-width: 300px) {
  a.navbar-brand {
    width : 60%;
    height: 60%;
  }
}