/* root of slider */
.slider {
  position    : relative;
  overflow    : hidden;
  max-width   : 1600px;
  margin-left : auto;
  margin-right: auto;
}

#info {
  display         : block;
  position        : absolute;
  z-index         : 5;
  top             : 30%;
  background-color: #e5e5e5;
  left            : 23%;
  width           : 264px;
  height          : 264px;
  padding         : 1.5em;

  p {
    font-size: 1.5em;
  }
}

/* styles for wrapper */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* styles for slide container */
.slider__items {
  display   : flex;
  transition: transform 0.6s ease;
}

/* styles for each slide */
.slider__item {
  flex      : 0 0 100%;
  max-width : 100%;
  text-align: center;

  p {
    color: #e5e5e5;
  }

  img {
    margin   : 0 auto;
    max-width: 600px;
  }
}

/* control styles */
.slider__control {
  position          : absolute;
  top               : 50%;
  align-items       : center;
  justify-content   : center;
  width             : 40px;
  color             : #fff;
  text-align        : center;
  opacity           : 0.5;
  height            : 50px;
  background        : rgba(0, 0, 0, 0.5);

  &_show {
    display: flex;
  }

  &:hover,
  &:focus {
    color          : #fff;
    text-decoration: none;
    outline        : 0;
    opacity        : 0.9;
  }

  &_prev {
    left: 0;
  }

  &_next {
    right: 0;
  }

  &::before {
    content        : '';
    display        : inline-block;
    width          : 20px;
    height         : 20px;
    background     : transparent no-repeat center center;
    background-size: 100% 100%;
  }
}

.slider__control_prev::before {
  background      : transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background      : transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* styles for indicators */
.slider__indicators {
  position       : absolute;
  top            : 95%;
  right          : 0;
  bottom         : 10px;
  left           : 0;
  z-index        : 15;
  display        : flex;
  justify-content: center;
  padding-left   : 0;
  margin-right   : 15%;
  margin-left    : 15%;
  list-style     : none;
  margin-top     : 0;
  margin-bottom  : 0;

  li {
    box-sizing      : content-box;
    flex            : 0 1 auto;
    width           : 30px;
    height          : 4px;
    margin-right    : 3px;
    margin-left     : 3px;
    text-indent     : -999px;
    cursor          : pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip : padding-box;
    border-top      : 10px solid transparent;
    border-bottom   : 10px solid transparent;

    .active {
      background-color: #231f20;
    }
  }
}
